.mdp {
  --mdp-primary: #4CB848;
  --mdp-hover: #34a730;
  --mdp-border-color: #ececec;
  p {
    margin: 5px 0;
  }
}

.mdp-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.mdp-mb5 {
  margin-bottom: 20px!important;
}

.mdp-mb3 {
  margin-bottom: 10px!important;
}

.mdp-mt5 {
  margin-top: 20px!important;
}

.mdp-padding {
  padding: 16px;
}

.mdp-panel {
  border: 1px solid var(--mdp-border-color);
  border-radius: 5px;
  .mdp-header {
    border-bottom: 1px solid var(--mdp-border-color);
    margin: 0;
  }

  .mdp-footer {
    border-top: 1px solid var(--mdp-border-color);
  }

  .mdp-title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 25px;
  }
}

.mdp-flex {
  display: flex;
}

.mdp-flexwrap {
  flex-wrap: wrap;
}

.mdp-block {
  display: block;
}

.mdp-items-center {
  align-items: center;
}

.mdp-justify-center {
  justify-content: center;
}

.mdp-justify-end {
  justify-content: end;
}

.mdp-gap5 {
  gap: 5px;
}

.mdp-gap10 {
  gap: 10px;
}

.mdp-py0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}


.mdp-pb0 {
  padding-bottom: 0;
}

.mbp-border-b0 {
  border-bottom: 0!important;
}

.mdp-link {
  text-decoration: none;
  color: var(--mdp-primary);
  &:hover {
    color: var(--mdp-hover)
  }
}


.mdp-tax {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mdp-info {
  display: grid;
  grid-template-columns: 250px 1fr;
  &.mdp-padding {
    padding: 5px 16px;
  }
}

.mdp-wicon {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mdp-iconwrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f1f3f8;
  color: #444752;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdp-bold {
  font-weight: bold;
}

.mdp-socialbtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mdp-primary);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background: var(--mdp-hover)
  }
}


.mdp_medias {
  height: 500px;
  position: relative;
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

.mdp_medias_wrap {
  position: relative;
  .mdpmediabtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    font-size: 20px;

    &.mdpprev {
      left: 0;
    }

    &.mdpnext {
      right: 0;
    }
  }
}

.mdp-textcenter {
  text-align: center;
}

.mdp-textright {
  text-align: right;
}

.mdp-italic {
  font-style: italic;
}

.mdp-pagination {
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  .mdp-page-button {
    a {
      padding: 5px 15px;
      border: 1px solid var(--mdp-border-color);
      text-decoration: none;
    }
  }
}

.mdp-textsm {
  font-size: 12px;
}

.mdp-event-archive-list {
  display: flex;
  gap: 20px;
  .mdp-eventarchive-date {
    width: 100%;
    max-width: 200px;
    color: #fff;
    background: var(--mdp-primary);
    text-align: center;
  }
  .mdp-eventarchive-description {
    flex: 1;
  }
  .mdp-eventarchive-location {
    width: 100%;
    max-width: 350px;
  }

  .mdp-event-date {
    font-size: 40px;
    font-weight: bold;
  }

  @media screen and (max-width: 992px) {
    display: block;

    .mdp-eventarchive-date,
    .mdp-eventarchive-description,
    .mdp-eventarchive-location {
      margin-bottom: 20px;
    }
  }
}

.mdp-link-title {
  * {
    color: var(--mdp-primary)!important;
  }
}


.mdp-term-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .mdp-term-grid-item {
    box-shadow: 0 5px 25px rgba(143,142,159,.15);
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    &:hover {
      color: var(--mdp-primary);
    }

    .mdp-term-count {
      font-style: italic;
      font-size: 14px;
      color: #8F8E9F;
    }
  }
}


.mdp-filter-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .mdp-filter-col {
    flex: 1;
  }
}

.mdp-input {
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: #ffffff;
  border-radius: 5px;

  &.bordered {
    border: 1px solid var(--mdp-border-color);
  }
}

.mdp-button {
  padding: 11px 15px;
  background: var(--mdp-primary);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--mdp-primary);
  &:hover {
    background: var(--mdp-hover);
  }

  &.secondary {
    background: transparent;
    color: var(--mdp-primary)
  }
}

.mdp-more-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.mdp-more-filter {
  display: block;
  &:not(.active) {
    display: none;
  }
}